body {
    background-color: rgb(34, 34, 34);
    color: #ecfafc;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
}
nav {
    display: flex;
    align-items: center;
    padding: 15px,
}
.logo {
    box-align: right;
}
.navBarItems {
    display: flex;
    padding: 15;
    margin: 15;
    margin-left: auto;
    align-items: center;
    list-style-type: none;
}

.navBarItems li {
    font-size: x-large;
    font-family: fantasy;
    padding: 1em;
}

h1 {
    font-family: fantasy;
}

h2 {
    font-size: medium;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    padding: auto;
    column-gap: 25px;
}

.tenor-gif-embed {
    max-width: 400px;
}

footer{
    text-align: center;
}